{{> header loggedIn=loggedIn}}

{{#each posts}}
  <div>
    <h2>{{this.title}}</h2>
    <p>{{this.createdAt}}</p>
    <p>{{this.content}}</p>

    <!-- Update -->
    <form id="edit-post-form-{{this.id}}" action="/dashboard/edit/{{this.id}}" method="post">
      <button type="submit">Save Changes</button>
    </form>

    <!-- Delete -->
    <button id="delete-post-{{this.id}}">Delete Post</button>

  </div>
{{/each}}

<!-- Create -->
<form id="new-post-form">
  <button type="submit">Create Post</button>
</form>